		<?xml version="1.0" encoding="UTF-8"?>
	<widget xmlns = "http://www.w3.org/ns/widgets"
		xmlns:gap = "http://phonegap.com/ns/1.0"
		xmlns:android = "http://schemas.android.com/apk/res/android"
		id        = "com.ykm.ppm"
		versionCode=""
		version   = "">
		<name>ppm		</name>

		<platform name="android">
		<icon src="file://C:\Users\yoges\Desktop\Sketch1.png" qualifier="ldpi" />
		</platform>
		<platform name="winphone">
		</platform>
		 <icon src="icon.png" />
		</widget>